<%- include('../../partials/doctype.ejs') %>

<head>
    <%- include('../../partials/header') %>
    <title><%= page.display %> - <%= app.name %></title>
    <%- include('../../partials/theme_css') %>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <% if(page.name != 'login' && page.name != '404') { %>
            <%- include('../../partials/sidebar') %>
            <% } %>
            <div class="layout-page">
                <% if(page.name != 'login' && page.name != '404') { %>
                <%- include('../../partials/navbar') %>
                <% } %>

                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="card mb-4">
                            <div class="card-body demo-only-element">
                                <div class="row col-12 mb-3">
                                    <div class="col-12 col-md-10 mt-md-0 mt-1 d-grid">
                                        <h4 class="fw-bold py-1 mb-0">
                                            <span class="text-muted fw-light">Raporlar /</span> Vergi Raporu
                                        </h4>
                                    </div>
                                </div>
                                <div id="current-movements-list" style="width: 100%; height: 600px;" class="ag-theme-balham"></div>
                            </div>
                        </div>
                        <%- include('../../partials/footer') %>
                        <div class="content-backdrop fade"></div>
                    </div>
                </div>
            </div>
            <div class="layout-overlay layout-menu-toggle"></div>
            <div class="drag-target"></div>
        </div>
        <%- include('../../partials/theme_js') %>
</body>

</html>