<%- include('../../partials/doctype.ejs') %>

<head>
    <%- include('../../partials/header') %>
    <title><%= page.display %> - <%= app.name %></title>
    <%- include('../../partials/theme_css') %>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <% if(page.name != 'login' && page.name != '404') { %>
            <%- include('../../partials/sidebar') %>
            <% } %>
            <div class="layout-page">
                <% if(page.name != 'login' && page.name != '404') { %>
                <%- include('../../partials/navbar') %>
                <% } %>
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/invoices/sended">Faturalar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/despatches/sended">İrsaliyeler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sevouchers/sended">SM Makbuzları</a>
                            </li>
                        </ul>
                        <div class="card">
                            <div class="card-body demo-only-element">
                                <div class="row col-12 justify-content-end">
                                    <div class="col-12 col-md-12 mt-md-0 mt-1 d-grid">
                                        <h4 class="fw-bold py-1 mb-0">
                                            <span class="text-muted fw-light">Gönderilmiş Belgeler /</span> İrsaliyeler
                                        </h4>
                                    </div>
                                    <!-- <div class="col-12 col-md-2 mt-md-0 mt-1 d-grid">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-label-linkedin dropdown-toggle hide-arrow waves-effect waves-light" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-list fa-xs me-1"></i> Toplu İşlemler</button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a id="coll-pdf-download" class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-file-pdf fa-xl me-2"></i>Toplu PDF</a></li>
                                                <li>
                                                    <a id="coll-pdf-one-page-download" class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-file-pdf fa-xl me-2"></i>Tek Sayfa PDF</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a id="coll-xml-download" class="dropdown-item" href="javascript:void(0);"><i class="fa-regular fa-file-code fa-xl me-2"></i>Toplu XML</a></li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row col-12 mt-3">
                                    <div class="col-12 col-md-3 mt-1">
                                        <label class="form-label" for="searchbox">Ara</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i style="font-size: 0.8rem;" class="fa-solid fa-magnifying-glass fa-xs"></i></span>
                                            <input id="searchbox" type="text" class="form-control" placeholder="Ara...">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mt-1">
                                        <label class="form-label" for="fdate">Başlangıç Tarihi</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i style="font-size: 0.8rem;" class="fa-regular fa-calendar-days fa-xs"></i></span>
                                            <input id="fdate" type="text" class="form-control" placeholder="Başlangıç Tarihi">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mt-1">
                                        <label class="form-label" for="ldate">Bitiş Tarihi</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i style="font-size: 0.8rem;" class="fa-regular fa-calendar-days fa-xs"></i></span>
                                            <input id="ldate" type="text" class="form-control" placeholder="Bitiş Tarihi">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 mt-1">
                                        <label for="status" class="form-label">İrsaliye Durumu</label>
                                        <select id="status" class="form-select">
                                            <option value="200">Başarılı</option>
                                            <option value="400">Hatalı</option>
                                            <option value="201">İşaretli</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-1 mt-md-1 mt-2 d-grid pt-4">
                                        <button id="search-button" type="button" class="btn btn-info waves-effect"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div id="table-div" class="card-datatable dataTable_select text-nowrap table-responsive">
                                <table class="table" id="despatches">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ERP</th>
                                            <th>despatchno</th>
                                            <th>Alıcı</th>
                                            <th>vkntckn</th>
                                            <th>İrsaliye</th>
                                            <th>payable</th>
                                            <th>currency</th>
                                            <th>Profil</th>
                                            <th>type</th>
                                            <th>Durum</th>
                                            <th>statusdetail</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="modal animate__animated animate__fadeInDownBig" id="preview-despatch-modal" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel5">İrsaliye Önizlemesi</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body d-flex justify-content-center">
                                            <iframe class="shadow-lg p-3 mb-5 bg-white rounded" id="despatchFrame" width="900px" height="800px"></iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="iframe-print" type="button" class="btn btn-primary waves-effect waves-light"><i class="fa-solid fa-print"></i>&nbsp;&nbsp;Yazdır</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Content -->
                    <%- include('../../partials/footer') %>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
        <div class="drag-target"></div>
    </div>
    <%- include('../../partials/theme_js') %>
</body>

</html>
Ï